<!doctype html>
<html>
 <body style="font-family:arial, sans-serif">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <h1>{{header1}}</h1>
    <div>{{description1}}</div>
    <div id="chart1" class="chart" data-aos="fade-right"></div>
  
    <h4><a href="/">Return to index page</h4>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
      AOS.init({
        offset: 400,
        duration: 1000,
      });
  </script>

</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>-->
<script type='text/javascript'>
  var graphs1 = {{graph1JSON | safe}};
  Plotly.plot("chart1",graphs1,{});

</script></html>